body {
  background-color: #964b00;
  font-family: Eczar, serif;
}

header {
  background-color: #4d4d4d;
  display: flex;
  position: relative;
  width: 100%;
  white-space: nowrap;
}

button {
  background: none;
  border: none;
  font-family: Eczar, serif;
}

input {
  font-family: Eczar, serif;
  background-color: #fff;
  width: 100%;
  outline: none;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.logo,
.search-type {
  color: #fff;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  padding-left: 10px;
}

.search-type {
  font-size: 14px;
  text-decoration: underline;
}

.logo,
.second-nav-item {
  padding-right: 13px;
}

.searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.random-card {
  color: #428dfd;
  text-decoration: underline;
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .logo,
  .second-nav-item {
    padding-right: 100px;
  }
}

@media screen and (min-width: 943px) {
  .logo {
    font-size: 36px;
    padding-left: 20px;
  }

  .search-type {
    font-size: 18px;
  }

  .logo,
  .second-nav-item {
    padding-right: 275px;
  }
}
